<!DOCTYPE html>
<html>
    <head>
        <%- title %>
        <%- icon %>
        <%- meta %>
        <link rel="stylesheet" href="../assets/style.css">
        <script src="../assets/script.js"></script>
    </head>
    <style>
        :root {
            --staff-color: <%- chroma(config.staff_embed_color) %>;
            --user-color: <%- chroma(config.user_embed_color) %>;
        }
    </style>
    <body>
        <div class="container">
            <label class="switch">
                <input type="checkbox" id="darkmode" onclick="toggleDarkMode()">
                <span class="slider round"></span>
            </label>
            <div class="threadInfo">
                <%- image %>
                <%- threadInfo %>
            </div>
        </div>

        <% messages.forEach(function(message) { %>
            <% var scriptRegex = /<script>([\s\S]*?)<\/script>/g; %>
            <% var imgRegex = /<img src="([\c\C]*?)">/g; %>
            <% if (message.internal) { %>
                <div class="container staff-message">
                    <div class="author">
                        <img src="<%- message.avatar %>"><b><%- message.user %> <%- message.internal ? " (staff)" : "" %></b>
                    </div>
                    <div class="text">
                        <%- message.content.replace(scriptRegex, '[script in message]').replace(imgRegex, '[image in message]') %>
                    </div>
                </div>
            <% } else if (!message.internal) { %>
                <div class="container user-message">
                    <div class="author">
                        <img src="<%- message.avatar %>"><b><%- message.user %> <%- message.internal ? " (staff)" : "" %></b>
                    </div>
                    <div class="text">
                        <%- message.content.replace(scriptRegex, '[script in message]').replace(imgRegex, '[image in message]').split('\n').join('<br>') %>
                    </div>
                </div>
            <% } %> 
        <% }) %>
    </body>
</html>